html {
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: acumin-pro, Arial;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
}


.about {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.design {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.film {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.audio {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.contact {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}


.about-video {
  width: 100%;
  height: 100vh;
}

.design-video {
  width: 100%;
  height: 100vh;
}

.film-video {
  width: 100%;
  height: 100vh;
}

.audio-video {
  width: 100%;
  height: 100vh;
}

.marker {
  position: absolute;
  width: 10%;
  height: 10%;
}


.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 80vh;
  overflow: scroll;
}



.contact-title-text {
  color: white;
  font-size: 5vw;
  font-weight: bold;
}

.contact-sub-text {
  color: white;
  font-size: 3vw;
  margin-bottom: 5%;
}








/* 



.arrow {
  color: white;
  opacity: 0;
}

.button {
  color: white;
  background-color: black;
  border: none;
  padding: 2%;
  font-size: large;
}

.buttonList {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}










*/

/* .FAB-container {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.FAB {
  background-color: white;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

/* @media (orientation: portrait) {
  .film-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .signature {
    width: 90%;
    height: 90%;
  }
} */
