* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: acumin-pro, Arial;
  font-weight: 400;
  font-style: normal;
}

.arrow {
  color: white;
  opacity: 0;
}

.button {
  color: white;
  background-color: black;
  border: none;
  padding: 2%;
  font-size: large;
}

.navigation {
  background-color: black;
  height: 10vh;
}

.buttonList {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.design {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150vh;
}

.design-text {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 45%;
  font-size: x-large;
  flex-direction: column;
  padding-right: 10%;
}

.film {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150vh;
}

.audio {
  background-color: black;
  height: 100vh;
  width: 100%;
  padding-top: 15vh;
}

.audio-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.audio-dot {
 margin-left: 7%;
}


.contact {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-block {
  background-color: #28282A;
  width: 60%;
  height: 80%;
  border-radius: 5%;
}

