* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: acumin-pro, Arial;
  font-size: 8vw;
  font-weight: 400;
  font-style: normal;
}

.navigation {
  background-color: black;
  height: 100%;
  width: 100%;
}

.app {
  background-color: black;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.about {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.design {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.film {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.audio {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.contact {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.signature {
  width: 100%;
  height: 100%;
}





.film-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
}





.contact-block {
  background-color: #28282a;
  width: 80%;
  height: 80%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  color: white;
  opacity: 0;
}

.button {
  color: white;
  background-color: black;
  border: none;
  padding: 2%;
  font-size: large;
}

.buttonList {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.design-text {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 45%;
  font-size: 2vw;
  flex-direction: column;
  justify-content: center;
}

.audio-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-dot {
  margin-right: 67%;
}

.contact-title-text {
  color: white;
  font-size: 4vw;
  margin-top: 2%;
}

.contact-sub-text {
  color: white;
  font-size: 2vw;
  margin-bottom: 2%;
}

.contact-name-and-email {
  margin-top: 5%;
  padding: 1%;
  width: 60%;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.contact-message {
  margin-top: 5%;
  padding: 1%;
  padding-bottom: 20%;
  width: 60%;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.contact-submit {
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 1%;
  width: 25%;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #24292e;
  background-color: #34eb9b;
  border-radius: 6px;
  outline: none;
}

.FAB-container {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.FAB {
  background-color: white;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* @media (orientation: portrait) {
  .film-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .signature {
    width: 90%;
    height: 90%;
  }
} */
