html {
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: acumin-pro, Arial;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
}


.about {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.design {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.film {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.audio {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.contact {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: scroll;
}


.about-video {
  width: 100%;
  height: 100vh;
}

.design-video {
  width: 100%;
  height: 100vh;
}

.film-video {
  width: 100%;
  height: 100vh;
}

.audio-video {
  width: 100%;
  height: 100vh;
}

.marker {
  position: absolute;
  width: 10%;
  height: 10%;
}


.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  height: 90vh;
}



.contact-title-text {
  color: white;
  font-size: 6vh;
}

.contact-sub-text {
  color: white;
  font-size: 3vh;
  padding-bottom: 20px;
}

.contact-name-email-subject {
  width: 100%;
  height: 40px;
  padding: 1%;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.contact-name-email-subject:hover{
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}
.contact-name-email-subject:focus{
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

.contact-message {
  width: 100%;
  padding: 1%;
  min-height: 180px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.contact-message:hover{
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}
.contact-message:focus{
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

.contact-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 3%;
  line-height: 1;
  border-radius: 10px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 100px;
  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #6C9EFF;
  height: 4%;
  font-style: normal;
  font-weight: 400;
}

.contact-submit:hover{
  transform: scale(1.04);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
}


.credit {
  color: white;
  font-size: 2vh;
  align-self: center;
  position: absolute;
  top: 495vh;
}

@media (orientation: portrait) {
  .contact-title-text {
    color: white;
    font-size: 5vw;
  }
  .contact-sub-text {
    color: white;
    font-size: 3vw;
    padding-bottom: 3%;
  }  
  .credit {
    color: white;
    font-size: 2vw;
    align-self: center;
    position: absolute;
    top: 495vh;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: 90vh;
  }
}

@media screen and (max-height: 500px) {
  .credit {
    color: white;
    font-size: 2vh;
    margin-top: 5%;
  }
}


















/* 



.arrow {
  color: white;
  opacity: 0;
}

.button {
  color: white;
  background-color: black;
  border: none;
  padding: 2%;
  font-size: large;
}

.buttonList {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}










*/

/* .FAB-container {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.FAB {
  background-color: white;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

